.card{
    width: 270px;
    height: 200x;
    scale: 80%;
    border: 2px solid black;
    border-radius: 10px;
    background-color:rgba(31, 29, 17, 0.9) ;
    color: rgb(161, 187, 171);
    font-weight: 500;
    transition: 1s;
}