.input{
    background-color: rgba(255, 255, 255, 0.712);
    height: 2.5rem;
    width: 16rem;
    border-radius: 10px;
    font-weight: 700;

}

.button{
    background-color: rgba(167, 167, 167, 0.849);
    border-radius: 10px;
    font-weight: 900;
    height: fit-content;
}


